<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body {background-color: #17202A;}
    .btn-xl {
    padding: 40px 80px;
    font-size: 70px;
    border-radius: 10px;
    }
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 align-self-center">
			<h1 class="display-1 text-success text-center">
                Next Clue
                </h1>
            <h1 class="display-3 text-light text-center my-auto">
                Decipher the clue using Augmented Reality.
                </h1>
                <p></p>
                <center>
                <a href="https://developer.apple.com/augmented-reality/quick-look/models/biplane/toy_biplane.usdz" rel="ar">
                    <img src="https://developer.apple.com/design/human-interface-guidelines/ios/images/ARKit_Glyph_Button.svg" alt="Tap Here">
                    </a>
                    <p></p>
                <form action='/clues' method='GET'>
                <button type="submit" class="btn btn-light btn-xl">Back</button>
                </form>
                </center>
		</div>
	</div>
</div>