<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body {background-color: #17202A;}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 align-self-center">
			<h1 class="display-1 text-success text-center">
                Test successful.
                </h1>
            <h1 class="display-3 text-light text-center my-auto">
                Your next clue will be found at the park.
                </h1>
		</div>
	</div>
</div>